section(data-background-image="images/developer-tired.jpg")
  h3 About our team
  <div class='section-column'>
    <div class='section-column' style='align-items: center'>
      image(class='logo-team' src='images/olga.jpg')
      h4 Olga
    </div>
    <div class='section-row'>
      <div class='section-column'>
        image(class='logo-team' src='images/nina.jpeg')
        h4 Nina
      </div>
      <div class='section-column'>
        image(class='logo-team' src='images/anton.jpg')
        h4 Anton
      </div>
      <div class='section-column'>
        image(class='logo-team' src='images/andrei.jpg')
        h4 Andrei
      </div>
    </div>
  </div>
