section(data-background-image="images/developer-tired.jpg")
  h3 Kanban board
  section(class='section-structure')
    include sub-slides/subSlide-1-for-s3.pug
  section(class='section-structure')
    include sub-slides/subSlide-2-for-s3.pug
