section(data-background-image="images/developer-tired.jpg")
  h4 RACI Matrix
  section(class='section-example')
    <div class='table-block'>
      h6 <table>
        <tr class='ligthgray'>
          <td>Tasks/Participants</td>
          <td>Nina</td>
          <td>Anton</td>
          <td>Andrei</td>
          <td>Olga</td>
        </tr>
        <tr>
          <td class='ligthgray'>Init Create react app, add ts to the project</td>
          <td>R</td>
          <td>C</td>
          <td>I</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add Date Picker</td>
          <td>C</td>
          <td>I</td>
          <td>R</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add schedule with events for day</td>
          <td>R</td>
          <td>C</td>
          <td>I</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add ability to create new event</td>
          <td>C</td>
          <td>R</td>
          <td>I</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Translate app</td>
          <td>C</td>
          <td>R</td>
          <td>I</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add ability to switch between calendars</td>
          <td>R</td>
          <td>I</td>
          <td>C</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Connect events schedule to the picker</td>
          <td>R</td>
          <td>I</td>
          <td>C</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Find API with Belarus's holidays and add holidays to events</td>
          <td>R</td>
          <td>C</td>
          <td>I</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Create calendar's Header</td>
          <td>C</td>
          <td>I</td>
          <td>R</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Create event on form click</td>
          <td>C</td>
          <td>R</td>
          <td>I</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add functionality to edit existing event</td>
          <td>I</td>
          <td>C</td>
          <td>R</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add functionality to delete existing event</td>
          <td>C</td>
          <td>R</td>
          <td>I</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add styles to calendar</td>
          <td>R</td>
          <td>I</td>
          <td>C</td>
          <td>A/C</td>
        </tr>
      </table>
      </h6>
      <div class='empty-block'></div>
      h6 <table>
        <tr>
          <td>R</td>
          <td>responsible</td>
        </tr>
        <tr>
          <td>A</td>
          <td>accountable</td>
        </tr>
        <tr>
          <td>C</td>
          <td>consultant</td>
        </tr>
        <tr>
          <td>I</td>
          <td>informed</td>
        </tr>
      </table>
    </div>
  section(class='section-install')
    <div class='table-block'>
      h6 <table>
        <tr class='ligthgray'>
          <td>Tasks/Participants</td>
          <td>Nina</td>
          <td>Anton</td>
          <td>Andrei</td>
          <td>Olga</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add loader animation</td>
          <td>A</td>
          <td>C</td>
          <td>R</td>
          <td>C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add search function</td>
          <td>C</td>
          <td>A</td>
          <td>R</td>
          <td>C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Create popup on event's click</td>
          <td>C</td>
          <td>R</td>
          <td>I</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add authentication</td>
          <td>C</td>
          <td>R</td>
          <td>I</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add hot keys</td>
          <td>R</td>
          <td>C</td>
          <td>I</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add audio to click on some buttons and add sound switch</td>
          <td>R</td>
          <td>C</td>
          <td>C</td>
          <td>A/C</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add adaptive</td>
          <td>R</td>
          <td>I</td>
          <td>I</td>
          <td>A</td>
        </tr>
        <tr>
          <td class='ligthgray'>Make video about project</td>
          <td>R</td>
          <td>C</td>
          <td>I</td>
          <td>A</td>
        </tr>
        <tr>
          <td class='ligthgray'>Add footer with authors</td>
          <td>R</td>
          <td>I</td>
          <td>C</td>
          <td>A</td>
        </tr>
      </table>
      h6 <table style="padding-left: 20px">
        <tr>
          <td>R</td>
          <td>responsible</td>
        </tr>
        <tr>
          <td>A</td>
          <td>accountable</td>
        </tr>
        <tr>
          <td>C</td>
          <td>consultant</td>
        </tr>
        <tr>
          <td>I</td>
          <td>informed</td>
        </tr>
      </table>
    </div>
</selection>
