section(data-background-image="images/developer-tired.jpg")
  h3 Kanban board
  section(class='section-example' style='text-align: center')
    h4 To develop the application, we used Jira
    image(class='jira-image' src='images/jira.jpg')
  section(class='section-install')
    h4 We create and solve tasks
    image(class='jira-image' src='images/jira-tasks.jpg')
  section(class='section-install')
    h4 We use sprints in our project
    image(class='jira-image' src='images/jira-sprints.jpg')
</section>
