section(data-background-image="images/developer-tired.jpg")
  h2 Team collaboration
  include sub-slides/subSlide-1-for-s4.pug
  include sub-slides/subSlide-2-for-s4.pug
  include sub-slides/subSlide-3-for-s4.pug
