section(data-background-image="images/developer-tired.jpg")
  h3 Kanban board
  h4 To develop the application, we used Jira
  section(class='section-structure')
    include sub-slides/subSlide-1-for-s2.pug
