section(data-background-image="images/developer-tired.jpg")
  h3 Work with events in calendar
  include sub-slides/subSlide-1-for-s4.pug
  include sub-slides/subSlide-2-for-s4.pug
  include sub-slides/subSlide-3-for-s4.pug
  include sub-slides/subSlide-4-for-s4.pug
