div(class='block-column').fragment.fade-in
  section(class='section-install')
    <div class='table-block'>
    h6 <table>
      <tr class="ligthgray">
        <td>Tasks/Participants</td>
        <td>Nina</td>
        <td>Anton</td>
        <td>Andrei</td>
        <td>Olga</td>
      </tr>
      <tr>
        <td class="ligthgray">Add loader animation</td>
        <td>A</td>
        <td>C</td>
        <td>R</td>
        <td>C</td>
      </tr>
      <tr>
        <td class="ligthgray">Add search function</td>
        <td>C</td>
        <td>A</td>
        <td>R</td>
        <td>C</td>
      </tr>
      <tr>
        <td class="ligthgray">Create popup on event's click</td>
        <td>C</td>
        <td>R</td>
        <td>I</td>
        <td>A/C</td>
      </tr>
      <tr>
        <td class="ligthgray">Add authentication</td>
        <td>C</td>
        <td>R</td>
        <td>I</td>
        <td>A/C</td>
      </tr>
      <tr>
        <td class="ligthgray">Add hot keys</td>
        <td>R</td>
        <td>C</td>
        <td>I</td>
        <td>A/C</td>
      </tr>
      <tr>
        <td class="ligthgray">Add audio to click on some buttons and add sound switch</td>
        <td>R</td>
        <td>C</td>
        <td>C</td>
        <td>A/C</td>
      </tr>
      <tr>
        <td class="ligthgray">Add adaptive</td>
        <td>R</td>
        <td>I</td>
        <td>I</td>
        <td>A</td>
      </tr>
      <tr>
        <td class="ligthgray">Make video about project</td>
        <td>R</td>
        <td>C</td>
        <td>I</td>
        <td>A</td>
      </tr>
      <tr>
        <td class="ligthgray">Add footer with authors</td>
        <td>R</td>
        <td>I</td>
        <td>C</td>
        <td>A</td>
      </tr>
    </table>
    h6 <table style="padding-left: 20px">
      <tr>
        <td>R</td>
        <td>responsible</td>
      </tr>
      <tr>
        <td>A</td>
        <td>accountable</td>
      </tr>
      <tr>
        <td>C</td>
        <td>consultant</td>
      </tr>
      <tr>
        <td>I</td>
        <td>informed</td>
      </tr>
    </table>
  </div>
