span.fragment.fade-in
  <div style='display: flex; flex-direction: row'>
    h4 &#10050; To <span class='red-letter'>update</span> an event, a modified event is created with the old ID
    h4 &#10050; To <span class='red-letter'>remove</span> an event, add to axios.delete() URL or ID.
